.rating {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.rating h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.icon-star {
    padding: 15px;
    background-color: var(--darkblue);
    border-radius: 50%;
}

.rating-button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating .submit-button {
    background-color: var(--orange);
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    font-weight: 700;
    border-radius: 50px;
    margin-top: 15px;
}

.rating .submit-button:hover {
    background-color: var(--white);
    cursor: pointer;
    color: var(--orange);
}

.rating .submit-button:focus {
    /* If user clicks on submit before choosing a rating, button should not 
    change background */
    color: var(--white);
    background-color: var(--orange);
}