html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* Primary */
  --orange: hsl(25, 97%, 53%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --mediumgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  font-family: 'Overpass', 'Sans-Serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1 {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
}

p {
  color: var(--mediumgrey);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4rem;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}